serviceaccount:
  annotations:
{{- if eq .Values.jxRequirements.cluster.provider "gke" }}
    iam.gke.io/gcp-service-account: {{ .Values.jxRequirements.cluster.clusterName }}-st@{{ .Values.jxRequirements.cluster.project }}.iam.gserviceaccount.com
{{- else if eq .Values.jxRequirements.cluster.provider "eks" }}
    eks.amazonaws.com/role-arn: arn:aws:iam::{{ .Values.jxRequirements.cluster.project }}:role/{{ .Values.jxRequirements.cluster.clusterName }}-{{ .Values.jxRequirements.cluster.namespace }}-bucketrepo
{{- end }}
