{{- if eq .Values.jxRequirements.cluster.provider "eks" }}
serviceaccount:
{{- if and (hasKey .Values.jxRequirements.cluster "aws") (.Values.jxRequirements.cluster.aws.helmSa) }}
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::{{ .Values.jxRequirements.cluster.aws.accountId }}:role/{{ .Values.jxRequirements.cluster.clusterName }}-{{ .Release.Namespace }}-jxui
{{- else }}
  enabled: false
{{- end }}
{{- end }}
